*.in
*.o
*~
.deps/
INSTALL
Makefile
PoHo/genPoHoLandscape
aclocal.m4
autom4te.cache/
barriers
barriers.lsm
barriers.spec
check_rnamoves
check_rnamoves.log
check_rnamoves.trs
cmdline.c
cmdline.h
compile
config.*
configure
depcomp
install-sh
missing
stamp-h1
test-driver
test-suite.log
