*.o
*~
*.in
.deps/
aclocal.m4
autom4te.cache/
barriers
barriers.lsm
barriers.spec
cmdline.c
cmdline.h
compile
config.*
configure
depcomp
install-sh
INSTALL
Makefile
missing
PoHo/genPoHoLandscape
stamp-h1
